.tracking {
    width: min(100vw - 3rem, 69.375rem);
    margin-inline: auto;

    @media (--laptop) {
        display: flex;
    }

    &__header {
        background-color: var(--color-blue-700);
        border-radius: var(--rounded-lg);
        margin-block-end: 1.5rem;
        width: 100%;
        box-shadow: var(--shadow-sm);

        @media (--laptop) {
            margin-inline-end: 1.875rem;
            margin-block-end: 0;
            max-width: 15.9375rem;
        }
    }

    &__person {
        display: flex;
        align-items: center;
        background-color: var(--color-blue-500);
        padding-block: 2rem 1.9375rem;
        padding-inline: 1.8125rem 2rem;
        border-radius: inherit;

        @media (--laptop) {
            flex-direction: column;
            align-items: start;
            padding-block: 2.125rem 5rem;
        }
    }

    &__person-avatar {
        width: 4.375rem;
        height: 4.375rem;
        border: 3px solid var(--color-white);
        border-radius: var(--rounded-full);

        @media (--laptop) {
            width: 5.25rem;
            height: 5.25rem;
        }
    }

    &__person-name {
        font-size: inherit;
        margin-inline-start: 1.0625rem;

        @media (--laptop) {
            margin-inline: 0;
            margin-block: 2.5625rem 0;
            max-width: 16ch;
            padding-inline-start: 0.1875rem;
        }

        &--sub {
            font-weight: var(--font-normal);
            display: block;
            margin-block-end: 0.25rem;
        }

        &--main {
            color: var(--color-white);
            font-weight: var(--font-thin);
            font-size: var(--text-lg);
            line-height: var(--leading-xl);

            @media (--laptop) {
                font-size: var(--text-xl-1);
                line-height: var(--leading-xl-2);
            }
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        display: grid;
        gap: 1.5rem;
        width: 100%;

        @media (--mobile) {
            grid-template-columns: 1fr 1fr;
        }

        @media (--tablet) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.875rem;
        }
    }

    &__item {
        overflow: hidden;
        position: relative;
        background-color: var(--brand-color, var(--color-blue-500));
        padding-block-start: 2.375rem;
        border-radius: var(--rounded-lg);
        box-shadow: var(--shadow-sm);

        @media (--laptop) {
            padding-block-start: 2.8125rem;
        }

        &:nth-child(1) {
            --brand-color: var(--color-orange-300);
        }

        &:nth-child(2) {
            --brand-color: var(--color-ocean-300);
        }

        &:nth-child(3) {
            --brand-color: var(--color-red-500);
        }

        &:nth-child(4) {
            --brand-color: var(--color-lime-300);
        }

        &:nth-child(5) {
            --brand-color: var(--color-violet-500);
        }

        &:nth-child(6) {
            --brand-color: var(--color-yellow-300);
        }
    }

    &__content {
        display: block;
        text-decoration: none;
        color: inherit;
        font: inherit;
        z-index: 10;
        position: relative;
        border-radius: inherit;
        background-color: var(--color-blue-700);
        padding-block: 1.4375rem 1.9375rem;
        padding-inline: 1.5rem;

        @media (--laptop) {
            padding-block: 1.5rem 2.125rem;
            padding-inline: 1.875rem;
        }

        @media (hover: hover) {
            &:hover {
                outline: 3px dashed var(--brand-color);
                outline-offset: -6px;
            }
        }
    }

    .tracking__label-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 0.25rem;

        @media (--mobile) {
            margin-block-end: 1.5rem;
        }
    }

    .tracking__label {
        position: relative;
        font-weight: var(--font-medium);
        color: var(--color-white);
        font-size: var(--text-md);
        line-height: var(--leading-lg);
        transition-property: color, transform;
        transition-duration: 200ms;
        transition-timing-function: ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    @media (hover: hover) {
        &__content:hover &__label {
            color: var(--brand-color);
        }
    }

    &__more-btn {
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        margin-inline-end: -0.3125rem;
        border-radius: var(--rounded-full);
        transition: background-color 200ms ease;
        background-image: url("/assets/images/icon-ellipsis.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-blue-900);
            }
        }

        &:focus-visible {
            outline: 2px dashed var(--color-white);
        }
    }

    &__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (--mobile) {
            align-items: start;
            flex-direction: column;
        }

        [data-show="false"] {
            display: none;
        }

        [data-show="true"] {
            display: initial;
        }
    }

    &__hours {
        color: var(--color-white);
        font-size: var(--text-xl);
        font-weight: var(--font-thin);

        @media (--mobile) {
            font-size: var(--text-xl-2);
            margin-block-end: 0.875rem;
        }
    }

    &__icon {
        position: absolute;
    }

    &__item:nth-child(1) &__icon {
        top: -0.625rem;
        right: 1.0625rem;
    }

    &__item:nth-child(2) &__icon {
        top: -0.3125rem;
        right: 1.3125rem;
    }

    &__item:nth-child(3) &__icon {
        top: -0.4375rem;
        right: 1.125rem;
    }

    &__item:nth-child(4) &__icon {
        top: -0.0625rem;
        right: 1.0625rem;
    }

    &__item:nth-child(5) &__icon {
        top: -0.9375rem;
        right: 0.8125rem;
    }

    &__item:nth-child(6) &__icon {
        top: -0.6875rem;
        right: 0.9375rem;
    }
}
